body{
    background-color: #73000a;
    font-family: "Lucida Console","Courier New", monospace;
}
h1{
    text-align: center;
    color: black;
}
h2{
    text-align:left;
    color:white;
}
.projects {
    display:flex; 
    flex-wrap:wrap; 
 }
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(255, 255, 255);
border-radius: 25%;
}